apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ hostvars[groups['monitoring_ops'][0]].ansible_host }}:9090
    isDefault: true
    jsonData:
      timeInterval: 15s

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ hostvars[groups['monitoring_ops'][0]].ansible_host }}:3100
    jsonData:
      maxLines: 1000
