global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "localhost:9093" # AlertManager runs on the same server

rule_files:
  - "alert_rules.yml" # We will create this next

scrape_configs:
  # 1. Prometheus monitors itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['{{ ansible_host }}:9090']

  - job_name: 'loki'
    static_configs:
      - targets: ['{{ ansible_host }}:3100']

  - job_name: 'promtail'
    static_configs:
      - targets: ['127.0.0.1:9080']

  - job_name: 'grafana'
    static_configs:
      - targets: ['127.0.0.1:3000']

  # 2. Monitor all EC2 hardware (Node Exporter)
  - job_name: 'node_exporter'
    static_configs:
      - targets:
          {% for host in groups['all'] %}
          - '{{ hostvars[host].get('private_ip', hostvars[host].get('ansible_host')) }}:9100'
          {% endfor %}

  # 3. Monitor Jenkins
  - job_name: 'jenkins'
    metrics_path: '/prometheus/'
    static_configs:
      - targets:
          {% for host in groups.get('jenkins', groups.get('control_plane', [])) %}
          - '{{ hostvars[host].get('private_ip', hostvars[host].get('ansible_host')) }}:8080'
          {% endfor %}

  # 4. Monitor SonarQube
#  - job_name: 'sonarqube'
#    metrics_path: '/api/monitoring/metrics'
#    static_configs:
#      - targets:
#          {% for host in groups.get('sonarqube', groups.get('control_plane', [])) %}
#          - '{{ hostvars[host].get('private_ip', hostvars[host].get('ansible_host')) }}:9000'
#          {% endfor %}

  # 5. Monitor Nexus
  #- job_name: 'nexus'
  #  metrics_path: '/service/metrics/prometheus'
  #  static_configs:
  #    - targets:
  #        {% for host in groups.get('nexus', groups.get('monitoring_ops', [])) %}
  #        - '{{ hostvars[host].get('private_ip', hostvars[host].get('ansible_host')) }}:8081'
  #        {% endfor %}

  # 5. Monitor Nexus
#  - job_name: 'nexus'
#    metrics_path: '/service/metrics/prometheus'
#    static_configs:
#      - targets: ['127.0.0.1:8081']
